  <select name="article[field]" id="article_field" class="second_select" disabled>
    <option value="">教科を選択</option>

    <option value="学習のヒント" data-val="勉強法">学習のヒント</option>
    <option value="テスト対策" data-val="勉強法">テスト対策</option>

    <option value="数と式" data-val="数学Ⅰ+A">数と式</option>
    <option value="二次関数" data-val="数学Ⅰ+A">二次関数</option>
    <option value="図形と計量" data-val="数学Ⅰ+A">図形と計量</option>
    <option value="集合と命題" data-val="数学Ⅰ+A">集合と命題</option>
    <option value="データの分析" data-val="数学Ⅰ+A">データの分析</option>
    <option value="場合の数" data-val="数学Ⅰ+A">場合の数</option>
    <option value="確率" data-val="数学Ⅰ+A">確率</option>
    <option value="整数の性質" data-val="数学Ⅰ+A">整数の性質</option>
    <option value="図形の性質" data-val="数学Ⅰ+A">図形の性質</option>

    <option value="式と計算" data-val="数学Ⅱ+B">式と計算</option>
    <option value="高次方程式" data-val="数学Ⅱ+B">高次方程式</option>
    <option value="図形と方程式" data-val="数学Ⅱ+B">図形と方程式</option>
    <option value="三角関数" data-val="数学Ⅱ+B">三角関数</option>
    <option value="指数関数と対数関数" data-val="数学Ⅱ+B">指数関数と対数関数</option>
    <option value="微分法" data-val="数学Ⅱ+B">微分法</option>
    <option value="積分法" data-val="数学Ⅱ+B">積分法</option>
    <option value="数列" data-val="数学Ⅱ+B">数列</option>
    <option value="平面上のベクトル" data-val="数学Ⅱ+B">平面上のベクトル</option>
    <option value="空間のベクトル" data-val="数学Ⅱ+B">空間のベクトル</option>
    <option value="確率分布と統計的な推測" data-val="数学Ⅱ+B">確率分布と統計的な推測</option>

    <option value="単語" data-val="英語">単語</option>
    <option value="英文法" data-val="英語">英文法</option>
    <option value="長文読解" data-val="英語">長文読解</option>
    <option value="リーディング" data-val="英語">リーディング</option>
    <option value="リスニング" data-val="英語">リスニング</option>
    <option value="ライティング" data-val="英語">ライティング</option>
    <option value="スピーキング" data-val="英語">スピーキング</option>



  </select>