<div class="article_new_page">
  <div class="white_container">

  <%# <h1>新規記事投稿</h1> %>

  <%= render 'form', article: @article %>

  <%#= link_to 'Back', articles_path %>

  </div>
</div>

<%= javascript_pack_tag 'articles/index' %>