<div class="pages_welcome_container">
  <div class="pages_welcome_flexbox">
    <div class="pages_welcome_message">
      <h1>１日５分から始める心地の良い勉強習慣作り</h1>
      <p>WelcomeWelcomeWelcomeWelcomeWelcomeWelcomeWelcomeWelcomeWelcomeWelcomeWelcomeWelcomeWelcomeWelcomeWelcomeWelcomeWelcomeWelcomeWelcomeWelcomeWelcomeWelcomeWelcomeWelcomeWelcomeWelcomeWelcomeWelcomeWelcomeWelcomeWelcomeWelcomeWelcomeWelcomeWelcomeWelcomeWelcomeWelcomeWelcome</p>
    </div>
    <img src="/assets/top_image.svg" class="pages_welcome_image">
  </div>
</div>

<div class="orange-ball" id="orange-ball1"></div>
<div class="orange-ball" id="orange-ball2"></div>
<div class="orange-ball" id="orange-ball3"></div>
<div class="orange-ball" id="orange-ball4"></div>
</div>