<div class="pages_welcome_container">
  <div class="pages_welcome_flexbox">
    <div class="pages_welcome_message">
      <h1 class="pages_welcome_title">１日５分から始める心地の良い勉強習慣作り</h1>
      <p>welcomewelcomewelcomewelcomewelcomewelcomewelcomewelcomewelcomewelcomewelcomewelcomewelcomewelcomewelcomewelcomewelcomewelcomewelcomewelcomewelcomewelcomewelcomewelcomewelcomewelcomewelcomewelcomewelcomewelcomewelcomewelcomewelcomewelcomewelcomewelcomewelcomewelcomewelcomewelcomewelcomewelcomewelcomewelcome</p>
      <p><%= link_to 'StudyTipの理念 >', pages_about_path, class: "pages_welcome_about" %></p>
      <div class="pages_welcome_session">
      <%= link_to 'ログイン', new_user_session_path, class: "pages_welcome_login pages_welcome_link" %>
      <%= link_to '新規登録', new_user_registration_path, class: "pages_welcome_signup pages_welcome_link" %>
      </div>
    </div>
    <img src="/assets/top_image.svg" class="pages_welcome_image">
  </div>
</div>

<div class="orange-ball" id="orange-ball1"></div>
<div class="orange-ball" id="orange-ball2"></div>
<div class="orange-ball" id="orange-ball3"></div>
<div class="orange-ball" id="orange-ball4"></div>
</div>