<div class="pages_articles">
  <h1>新着記事</h1>
  <% @articles.each do |article| %>
    <div class="pages_article">
      <%= link_to article.title, article, class: "pages_link" %>
    </div>
  <% end %>
</div>