<%# <div class="pages_welcome_container">
  <div class="pages_welcome_message">
    <h1>Welcome Message!!</h1>
  </div>
  <div class="pages_welcome_image_container">
    <img src="/assets/top_image.svg" class="pages_welcome_image">
  </div>

</div> %>

<div class="pages_roadmap">
<%# <h2>ロードマップ</h2> %>
<div>
<%= link_to "数学", articles_path %>
</div>

<div class="pages_new_contents">
<nav>
  <%= link_to "新着記事", pages_articles_path %>
</nav>
</div>