<div class="white_container">
<h1 class="room_title"><%= @room.title %></h1>
<div id='messages' data-room_id="<%= @room.id %>" class="room_container">
  <%= render @messages %>
</div>
<%= text_field_tag :content, nil, data: { behavior: 'room_speaker' }, class: "message_field", placeholder: "メッセージを入力..." %>
</div>