// Place all the styles related to the arlikes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.like-link {
  position: absolute;
  left: 90%;
  text-align: center;
}

.fa-bookmark {

}

.off {
  top: -10px;
}

.on {
  top: 0;
}

.like {
  color: var(--orange);
  font-size: 60px;
}

.unlike {
  color: #ddd;
  font-size: 60px;
}

.like_count {
  color: var(--orange);
}

.unlike_count {
  color: #ddd;
}