
// welcome-container

.pages_welcome_image {
  width: 50vw;
  z-index: 2;
}

.pages_welcome_message {
  background-color: var(--white);
  width: 37vw;
  height: 27vw;
  margin: 2vw;
  padding: 2.5vw;
  border-radius: 2vw;
  word-break : break-all;
  z-index: 2;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14);
}

.pages_welcome_title {
  font-size: 1.75em;
  margin-bottom: 2vw;
}

.pages_welcome_login {
  background-color: var(--light-gray);
}

.pages_welcome_signup {
  color: #fff;
  background: var(--orange);
  font-weight: bold;
}

.pages_welcome_link {
  padding: 1vw 2vw;
  border-radius: 3px;
  margin: 1vw;
  font-size: 1.1em;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14);
  transition: .25s;
}

.pages_welcome_link:hover {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14);
}

.pages_welcome_session {
  margin-top: 60px;
  display: flex;
  justify-content: center;
}

.pages_welcome_about {
  margin-top: 10px;
  margin-right: 10px;
  font-size: 1.1em;
  float: right;
}

.pages_welcome_about:hover {
  border-bottom: 2px solid #000;
}

.pages_welcome_flexbox {
  display: flex;
  flex-wrap:nowrap;
  justify-content: center;
}

.pages_welcome_container {
  height: 50vw;
  background-color: var(--light-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 0;
}

.orange-ball {
  position: absolute;
  width: 25vw;
  height: 25vw;
  background-color: var(--orange);
  border-radius: 50%;
  z-index: 1;
  top: 0;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-duration: 1.5s;
  opacity: 0.5;
}

#orange-ball1 {
  top: -10vw;
  left: -5vw;
  animation-name: anim_v1;
}

#orange-ball2 {
  top: -7.5vw;
  left: 55vw;;
  animation-name: anim_v2;
}

#orange-ball3 {
  top: 40vw;
  left: 15vw;
  animation-name: anim_v3;
}

#orange-ball4 {
  top: 37.5vw;
  left: 70vw;
  animation-name: anim_v4;
}

@keyframes anim_v1 {
  0% {
    transform: translate(0, 0px);
  }

  100% {
    transform: translate(0, -10px);
  }
}

@keyframes anim_v2 {
  0% {
    transform: translate(0, 0px);
  }

  100% {
    transform: translate(0, 10px);
  }
}

@keyframes anim_v3 {
  0% {
    transform: translate(0, 0px);
  }

  100% {
    transform: translate(0, 10px);
  }
}

@keyframes anim_v4 {
  0% {
    transform: translate(0, 0px);
  }

  100% {
    transform: translate(0, -10px);
  }
}


// roadmap

.pages_roadmap {
  // display: flex;
  position: relative;
  height: 45vw;
  padding: 2.5vw 0 2.5vw 0;
  background-color: var(--light-orange);
  z-index: 2;
  // align-items: center;
}

.pages_roadmap_container {
  width: 85%;
  padding: 2.5%;
  margin: auto;
  overflow: scroll;
  display: flex;
  flex-wrap: nowrap;
  justify-content: unset;
  align-items: center;
}

.pages_roadmap_container::-webkit-scrollbar {
  display: none;
}

.pages_roadmap_subject {
  min-width: 20vw;
  height: 30vw;
  border-radius: 2vw;
  margin-right: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.pages_roadmap_desctibe {
  width: 90%;
  margin: auto;
  word-break : break-all;
}

.pages_roadmap_title {
  font-family: 'Damion', cursive;
  font-size: 2em;
}

.pages_roadmap_picture {
  width: 50%;
}



.pages_roadmap_subject_title {
  margin-bottom: 50px;
  color: black;
}

.pages_roadmap_inner {
  text-align: center;
}

#pages_roadmap_english {
  background-color: #ffffcc;
}

#pages_roadmap_worldhistory {
  background-color: #ffccff;
}

#pages_roadmap_chemistry {
  background-color: #ccffff;
}

#pages_roadmap_math {
  background-color: #ccccff;
}

#pages_roadmap_physics {
  background-color: #ccffcc;
}

#pages_roadmap_test {
  background-color: #ffcccc;
}

.pages_roadmap_link {
  font-size: 2.5vw;
  font-family: 'Damion', cursive;
}

.pages_roadmap_link:hover {
  text-decoration: underline;
}

.pages_article {
  display: flex;
  flex-direction: column;
  padding: 1vw;
}

.pages_article_title {
  font-size: 1.5em;
  font-weight: bold;
}

.pages_article_title:hover {
  text-decoration: underline;
}

.pages_article_content {
  height: 10vw;
  overflow: hidden;
}

.pages_article_readmore:hover {
  text-decoration: underline;
}

.pages_article_readmore {
  color: #4c6cb3;
}

.pages_article_paginate {
  @import "bootstrap-sprockets";
  @import "bootstrap";
  text-align: center;
  font-size: 1.25em;
}

.fas {
  color: var(--orange);
}

.tip_image {
  min-width: 360px;
  max-width: 360px;
}

.tip_left_arrow {
  position: absolute;
  top: 50%;
  left: 2.5%;
  z-index: 3;
  cursor: pointer;
}

.tip_right_arrow {
  position: absolute;
  top: 50%;
  right: 2.5%;
  z-index: 3;
  cursor: pointer;
}

.tip_timeline_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tip_timeline_content {
  margin: 2.5vw;
}

nav li.timeline_select_list{
  display: table-cell;
  min-width: 50px;
}
nav a.timeline_select_link {
  display: block;
  width: 100%;
  text-decoration: none;
  color: #555;
  padding: 5px 10px;
}
nav li.timeline_select_list.current {
  border-bottom: 3px solid var(--orange);
}
nav li.timeline_select_list:hover {
  color: #E7DA66;
  border-bottom: 3px solid var(--light-orange);
}